.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;
  color: rgb(20, 20, 20);
  text-shadow: 0 1px 6px rgba(255, 255, 255, 0.871);
  font-size: 37px;
  font-weight: 800;
  white-space: nowrap;
}

.yourTask {
  max-width: 300px;
  max-height: 43px;
  background: -webkit-linear-gradient(90deg, #09090c, #1a1b23);
  background: linear-gradient(90deg, #09090c, #1a1b23);
  color: aliceblue;
  font-size: 30px;
  font-family: 'Playwrite DE Grund', cursive;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formBtn {
  width: 130px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #3d4052, #09090c);
  background: linear-gradient(90deg, #3d4052, #09090c);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 30px;
}

.formBtn:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.formBtn:active {
  color: #000;
}

.formBtn:active:after {
  background: transparent;
}

.formBtn:hover:before {
  opacity: 1;
}

.formBtn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    90deg,
    #333333,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #333333,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  left: 0;
  top: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.listTodoOff {
  display: none;
}

.listTodo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-top: 30px;
  padding: 15px 15px;
}
